<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Members Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" >


</head>
<body>
    <header>
        <div>
            <img class="logo" src="images/logo.png" alt="">
        </div>
        
        <nav>
            <ul class="header__ul">
                <li><a href="/home">Home</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/items">Items</a></li>
                <li><a href="/memorials">Memorials</a></li>
                <li><a href="/members">Members</a></li>
                <li><select id="dropdown" name="dropdown">
                    <option value="">More</option>
                    <option value="option1"><a href="">Reports</a></option>
                    <option value="option1"><a href="">Memorial</a></option>
                    <option value="option2"><a href="">Members List</a></option>
                    <option value="option3"><a href="">Bylaw</a></option>
                </select></li>
            </ul>
        </nav>

        <div class="humburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <img id="toggleSidebar"  class="svg" src="images/manage.svg" alt="">
      <div id="sidebar">
        <div style="display:flex; align-items:center; justify-content:center; gap:10px">
          <img class="svg" src="images/member.png" alt="">
          <h3 style="color:white; text-align:left"><%= user.username %></h3>
        </div>
        <a style="padding:0" href="/setting">
          <div style="display:flex; align-items:center; gap:10px; margin-top:50px">
            <img class="svg" src="images/setting.jpg" alt="">
            <h5 style="color:white; text-align:left;margin-bottom:0;">Setting</h5>
          </div>
        </a>
        
        
        
        <a style="padding:3px" href="/logout">LogOut</a>
      </div>
    </header>

    <div class="container mt-4">
        <h1 class="mb-4">Members List</h1>

        <div class="row" id="members-container">
            <div>
                <% if (members.length==0) { %>
                    <h1>There is no member</h1>
                <% } %>
                <% var index = 0; %>
                <% while (index < members.length & index < 10) { %>
                    <div style="display:flex; gap:15px;">
                        <a style="color:darkblue;text-decoration:none" href="/members/<%=members[index].id%>">
                            <div class="card" style="width:350px; margin:15px 30px">
                                <img src="images/member.png" alt="">
                                
                                <div class="card-body">
                                  <h5 class="card-title"><%=members[index].username%></h5>
                                  <p class="card-text"><%=members[index].email%></p>
                                </div>
                                <div style="margin-top: 5px;width:100%;gap:15px; display:flex; justify-content:start">
                                    <% if (user.role == "Admin") {%>
                                    <a href="members/delete/<%= members[index].id %>">
                                        <button style="background: darkred; color: #fff; border: none; border-radius: 5px; padding: 5px; margin: 10px; cursor: pointer;">Remove Member</button>
                                    </a>
                                    <%}%>
                                </div>
                            </div>
                            
                        </a>
                        
                            <% if (index +1 < members.length) { %>
                            <a style="color:darkblue;text-decoration:none" href="/members/<%=members[index + 1].id%>">
                                <div class="card" style="width:350px; margin:15px 30px">
                                    <img src="images/member.png" alt="">
                                    
                                    <div class="card-body">
                                      <h5 class="card-title"><%=members[index+1].username%></h5>
                                      <p class="card-text"><%=members[index+1].email%></p>
                                    </div>
                                    <div style="margin-top: 5px;width:100%;gap:15px; display:flex; justify-content:start">
                                        <% if (user.role == "Admin") {%>
                                        <a href="members/delete/<%= members[index +1 ].id %>">
                                            <button style="background: darkred; color: #fff; border: none; border-radius: 5px; padding: 5px; margin: 10px; cursor: pointer;">Remove Member</button>
                                        </a>
                                        <%}%>
                                    </div>
                                </div>
                            
                                
                            </a>
                                
                            <% } %>
                        
                        
                            <% if (index +2 < members.length) { %>
                                <a style="color:darkblue;text-decoration:none" href="/members/<%=members[index + 2].id%>">
                                    <div class="card" style="width:350px; margin:15px 30px">
                                        <img src="images/member.png" alt="">
                                        
                                        <div class="card-body">
                                          <h5 class="card-title"><%=members[index+2].username%></h5>
                                          <p class="card-text"><%=members[index+2].email%></p>
                                        </div>
                                        <div style="margin-top: 5px;width:100%;gap:15px; display:flex; justify-content:start">
                                            <% if (user.role == "Admin") {%>
                                            <a href="members/delete/<%= members[index + 2].id %>">
                                                <button style="background: darkred; color: #fff; border: none; border-radius: 5px; padding: 5px; margin: 10px; cursor: pointer;">Remove Member</button>
                                            </a>
                                            <%}%>
                                        </div>
                                    </div>
                                </a>
                                
                             
                                
                            <% } %>
                        
                    </div>
                <%index+=3%>
                <% } %>
            </div>
            
            
        </div>    

    </div>

    <footer>
        <h2 class="left">Explore Digitalized Idir</h2>
        <div>
            <div>
                <a href="/home">Home</a>
                <a href="/home">About</a>
            </div>
            <div>
                <a href="/items">Items</a>
                <a href="/news">News</a>
            </div>
            <div>
                <a href="/members">Members</a>
                <a href="/memorials">Memorial</a>
            </div>
            <div>
                <a href="/bylaw">ByLaw</a>
                <a href="/reports">Reports</a>
            </div>
        </div>
        
        <p>Copyright © 2023 DigitalizedIdir. All rights Reserved</p>
    </footer>

    <script src="news.js"></script>

<!-- Bootstrap JS and Popper.js -->


</body>
</html>
